%h3 Basket

%ul.items
  -@purchasing_items_count.each do | item_id, item_quantity |
    -purchased_item = PurchasedItem.new(item_quantity: item_quantity, item_id: item_id, item_price_eur: Item.find(item_id).price_eur)
    %li
      =render purchased_item
      =link_to  image_tag('shoppingcart_remove.png', size: 32, alt: 'Remove from basket', class: 'add_to_cart'),
                basket_item_url( BasketItem.where(basket_id: @basket.id,
                                                  item_id: item_id).first),
                method: :delete

%ul.promotions
  -if @using_promotions_count && @using_promotions_count.any?
    -@using_promotions_count.each do | promotion_id, item_quantity |
      -used_promotion = UsedPromotion.new(item_quantity: item_quantity, promotion_id: promotion_id)
      %li
        =render used_promotion
        =link_to  image_tag('shoppingcart_remove.png', size: 32, alt: 'Remove from basket', class: 'add_to_cart'),
                  basket_item_url( BasketItem.where(basket_id: @basket.id,
                                                    promotion_id: promotion_id).first),
                  method: :delete

%h3 Total Amount
%ul.total_amount
  %li= "#{@basket.calculate_total_amount}€"


=link_to 'Checkout', new_order_path, class: 'btn btn-primary btn-checkout'
