=form_for(@customer) do |f|
  =render 'shared/error_messages', object: @customer

  =f.label :name
  =f.text_field :name, class: 'form-control'

  =f.label :email
  =f.text_field :email, class: 'form-control'

  =f.label :street
  =f.text_field :street, class: 'form-control'

  =f.label :house_number
  =f.text_field :house_number, class: 'form-control'

  =f.label :city
  =f.text_field :city, class: 'form-control'

  =f.label :zip_code
  =f.text_field :zip_code, class: 'form-control'

  =f.label :country
  =f.text_field :country, class: 'form-control'

  =f.submit 'Save', class: "btn btn-primary"
