-provide(:title, 'Home')

%h3 Products
%ul.items
  =render @items

-if @purchasing_items.empty?
  %h3 Basket is empty
-else
  -if (@codes.nil? || @codes.empty?) && (@quantities.nil? || @quantities.empty?)
    %h3 No eligible promotions
  -else
    %h3 Eligible Promotions

  %ul.promotions
    -if @codes && @codes.any?
      =render @codes
    -if @quantities && @quantities.any?
      =render @quantities

  #basket
    =render @basket
