%li
  ="#{quantity.item_quantity} #{Item.find(quantity.item_id).name.pluralize} for #{quantity.total_amount}€"
  =link_to "Apply Promotion", basket_items_url( basket_item: { type: 'UsingPromotion', basket_id: @basket.id, promotion_id: quantity.id } ), method: :post
